* {
    margin: 0;
    padding: 0;
}

body {
    background: #444;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

body>div {
    flex: 0 1 1000px;
    margin: 0 auto;
}

div {
    box-sizing: border-box;
    display: flex;
    border: black solid 1px;
}

div.row {
    flex-direction: row;
}

div.column {
    flex-direction: column;
}

div.grow {
    flex-grow: 1;
    flex-shrink: 0;
}

div.shrink {
    flex-grow: 0;
    flex-shrink: 1;
}

#menu {
    flex: 0 1 180px;
}

#menu h3 {
    margin: 6px;
}

#menu .btn {
    margin-top: 10px;
}

#menu .btn p {
    margin: 6px;
}

#menu .btn:hover p {
    margin: 6px 12px;
}

#main {
    flex: 1 0 auto;
}