html,
body,
main,
h1 {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #292929;
    color: #F9F9F9;
    display: flex;
    min-height: 100vh;
}

main {
    margin: auto;
}
